.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.playlistsButtonSection {
    background-color: #282727;
    width: 20%;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: 110vh;
}

.playlistSongsSection {
    width: 40%;
}

.songsSearchSection {
    background-color: #282727;
    top: 0;
    align-self: flex-start;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    justify-content: start;
    width: 40%;
    height: 110vh;
}

.createNewPlaylist {
    background-color: white;
    color: black;
    border: 3px solid deepskyblue;
    width: 100%;
    height: 5vh;
    margin-bottom: 1rem;
    /*add some coll style for button */

}

.createNewPlaylist:hover {
    background-color: deepskyblue;
    color: white;
}

.listItem {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.playlist {
    border-radius: 35px;
    background-color: deepskyblue;
    width: 80%;
    height: 12vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playlistsList {
    width: 100%;
    height: 100vh;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlistButton {
    border-radius: 35px;
    width: 100%;
    height: 12vh;
}

.playlistButton:hover {
    background-color: silver;
}

.selectedPlaylist {
    background-color: silver;
}

.playlistButton:active {
    background-color: #3f3f6f;
}

.link {
    color: deepskyblue;
}

.disabledLink {
    color: whitesmoke;
    text-decoration: none;
    cursor: default;
}

.linkWrapper {
    width: 50%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deleteButton {

    margin: 0 auto;
    width: 100%;
}

.deletePlaylistButton {
    width: 100%;
    margin-bottom: 1rem;
}

.scrollable {
    height: 100vh;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.closedForm {
    display: none;
}

.openForm {
    display: block;
}

.formTextInput {
    width: 60%;
    height: 5vh;
    background-color: #000000;
    border: 2px solid deepskyblue;
    margin-bottom: 1rem;
}

.formButtonInput {
    margin-left: 0.2rem;
    width: 35%;
    background-color: deepskyblue;
    height: 5vh;
    margin-bottom: 1rem;
}