.searchBlock {
    margin: 1em;
    padding: 1.5em;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.trackList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    min-height: 720px;
    background-image: url("../../../public/music69.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  justify-content: center;*/
}

li{
    height: 230px;
}

